{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Rolisticae</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" href="#">Home
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Campagne</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Game Master</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Shind0ka</a>
							<a class="dropdown-item" href="#">Nev0</a>
							<a class="dropdown-item" href="#">Ryubi</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Devenir Game Master</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Table de Jeu</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">La Main Rouge
							</a>
							<a class="dropdown-item" href="#">Les Rois Fou</a>
							<a class="dropdown-item" href="#">Solemonium</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Créer une nouvelle table</a>
							<a class="dropdown-item" href="#">Rejoindre une table</a>
						</div>
					</li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-sm-2" type="text" placeholder="Search">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>

	<div class="alert alert-dismissible alert-warning">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<h4 class="alert-heading">Attention!</h4>
		<p class="mb-0">La page est encore en construction veuillez patientez.
			<a href="https://github.com/Derrevale/Rolisticae#readme" class="alert-link">Plus d'information sur le Github du projet</a>.</p>
	</div>
{% endblock %}
