{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="alert alert-dismissible alert-warning">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<h4 class="alert-heading">Attention!</h4>
		<p class="mb-0">La page est encore en construction veuillez patientez.
			<a href="https://github.com/Derrevale/Rolisticae#readme" class="alert-link">Plus d'information sur le Github du projet</a>.</p>
	</div>
{% endblock %}
